@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

* {
    font-family: 'Quicksand', sans-serif !important;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#app {
    margin: 40px;
    max-width: 600px;
    min-width: 200px;
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 12px 17px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 12px 17px 1px rgba(0,0,0,0.08);
    box-shadow: 0px 12px 17px 1px rgba(0,0,0,0.08);
}

.heart-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.view-wrapper {
    margin: 50px 0px;
    padding: 12.5px 0px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitle {
    font-style: italic;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    padding-bottom: 50px;
}

.link {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    color: #eb76ff;
    font-weight: 500;
}
.link:hover {
    border-bottom: 2px dashed #eb76ff;
}

.heart-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.heart {
    font-size: 40px;
    transition: all 0.3s ease-in;
    margin-bottom: -4px;
    padding-bottom: 12px;
    border-bottom: 4px dashed transparent;
}
.heart:hover {
    border-bottom: 4px dashed #eb76ff;
}
.message {
    font-size: 36px;
}
.message>.text {
    animation: textAnimate 5s linear infinite alternate;
    background: linear-gradient( 92deg, #95d7e3, #eb76ff );
    background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
    background-size:600vw 600vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 40px 0;
    &::after {
      position: absolute;
      content: attr(data-text);
      left: 0;
      right: 0;
      background: none;
      box-shadow: 2px 4px 2px rgba(0,0,0,0.50);
      z-index: -1;
    }
}

@keyframes textAnimate {
    from {
        filter: hue-rotate(0deg);
        background-position-x: 0%;
        
    }
    to {
        filter: hue-rotate(360deg);
        background-position-x: 600vw;
        
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
