<template>
  <div>
    <p class="subtitle">Set your favourite heart color:</p>
    <SetHeart></SetHeart>
    <router-link to="/" class="link">I don't want to change it</router-link>
  </div>
</template>

<script>
import SetHeart from '@/components/SetHeart.vue'

export default {
  name: 'heart',
  components: {
    SetHeart
  }
}
</script>
