<template>
  <div>
    <p class="subtitle">Did you know that you can even name variables with emoji?</p>
    <GetHeart></GetHeart>
    <router-link to="/heart" class="link">Change heart color</router-link>
  </div>
</template>

<script>
import GetHeart from '@/components/GetHeart.vue'

export default {
  name: 'home',
  components: {
    GetHeart
  }
}
</script>
