<template>
  <h1 class="message"><span class="text">{{ heart.message }} </span>{{ heart.heart }}</h1>
</template>

<script>
export default {
  name: 'GetHeart',
  computed: {
    heart() {
      return this.$store.getters.getHeart
    }
  }
}
</script>