<template>
  <div class="heart-wrapper">
    <h1 class="heart" v-for="(heart, idx) in hearts" :key="idx" @click="changeHeartColor(idx)">{{ heart }}</h1>
  </div>
</template>

<script>
export default {
  name: 'SetHeart',
  computed: {
    hearts(){
      return this.$store.getters.getAllHearts
    },
    heart() {
      return this.$store.getters.getHeart
    }
  },
  methods: {
    changeHeartColor(color) {
      this.$store.dispatch('setHeartColor', color)
      this.$router.push('/')
    }
  }
}
</script>