<template>
  <div id="app">
    <div class="heart-row"><p>❤️</p><p>🧡</p><p>💛</p><p>💚</p><p>💙</p></div>
    <transition name="fade" mode="out-in">
      <router-view class="view-wrapper" />
    </transition>
    <div class="heart-row"><p>❤️</p><p>🧡</p><p>💛</p><p>💚</p><p>💙</p></div>
  </div>
</template>
